<div class="flex-container">
  <div class="flex-item">
    <h1>Chef Tracker</h1>
    <p>{{availableChefs.length}} of our {{model.length}} chefs are cooking right now!</p>
    <p>Our {{model.length}} chefs teach {{totalStudents}} students.</p>
    <ul>
      {{#each model as |chef|}}
        <li class="{{if chef.isCookingToday 'isCookingToday' 'isNotCookingToday'}}">
            {{#link-to 'chefs.chef' chef}}{{chef.name}}{{/link-to}}
        {{#if chef.isCookingToday}}
            <button {{action 'exit' chef}}>Exit</button>
        {{else}}
            <button {{action 'enter' chef}}>Enter</button>
        {{/if}}
        </li>
        Number of students:
        <button {{action 'decrementStudents' chef}}>-</button> {{chef.numberOfStudents}}
        <button {{action 'incrementStudents' chef}}>+</button>
      {{/each}}
    </ul>
    <hr> {{input value=newChef}}
    <button {{action 'saveNewChef'}}>Save</button>
  </div>
  <div class="flex-item">
    {{outlet}}
  </div>
</div>
